
/* font for head para styling */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Dancing+Script:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

/* Header background image */
.main-background{
    background-image: url("../images/clouds.png");
     background-position: center;
     background-size: contain;
     background-repeat: repeat;
    
  

    
}

.masthead-subheading{
    max-height: 0rem;
    font-size: 2rem;
}
/* my image */
.icon-plane{
    height: 100px;
}

/* heart from react icons */

.mainpara-icon{
  
color: red;

}

/* react icon */

.react-icon{
    color:#61dafb;
    font-size: 1.5rem;
}
.tech-detail{
    font-size: 1.3rem;
    font-family: 'Fuzzy Bubbles',
    cursive;
}
.main-detail{
    font-family: 'Birthstone',
    cursive;
    font-family: 'Dancing Script',
    cursive;
    font-size: 2rem;
    margin-top: 1rem;
}
/* footer image */
.footer-image{
    display: block;
 
    margin-left: auto;
    margin-right: auto;
margin-bottom: -20px;
    width: 50%;
}
.leader{
    text-align: center;
   

}

.iframe-comp{
    height: 40vh;
    width: 80vw;
}

.page-section{
    margin-top: 4rem;

}
.features{
    margin: 2rem;
}
.modal-link{
    color: white;
    text-decoration: none;}
a:hover{
    color:white;
    transition: 0.3s;
}

/* .parent-image{
    min-height: 26.5vh;
    text-align: center;
}
.image-comp{
    height: 23vh;
} */

/* making the cloud invisibnle under 1000px */

@media screen and (max-width:980px){
.main-background{
   background-image: none;
}
.footer-image{
    width: 98%;
}
}